*.class
.vscode/settings.json
.metals/metals.log
.metals/metals.lock.db
.metals/metals.h2.db
.metals/readonly/scala/Predef.scala
.metals/readonly/scala/Array.scala
ex.scala
.metals/readonly/scala/util/Random.scala
.metals/readonly/scala/collection/immutable/Range.scala
.metals/readonly/scala/Double.scala
